@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat_Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src:url(../fonts/Montserrat_Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat_Light.ttf);
    font-weight: initial;
}

:root{
    --main-green: #4B653E;
    --main-yellow: #FFB800;
    --main-white: #FEFFC5;
}

body{
    font-family: Montserrat;
    height:100%;
}

a{
    color: #000000;
}


.Main{
    display:flex;
    flex-direction:column;
    width: 100%;
}

.Header{
    width: 80%;
    max-width: 1000px;
    height: 100px;
    margin:auto;
    display:flex;
}

.Navigation{
    background-color:var(--main-yellow);
    width: 100%;
    display:flex;
    align-items:center;
}
.Navigation > ul{
    margin: 0 20px;
    padding-left: 0;
    display:flex;
    width:100%;
    justify-content:space-between;
    list-style:none;
}

.Content_into_content{
    width: calc(80% - 60px);
    padding: 30px;
    max-width: 1000px;
    margin:auto;
    background-color:var(--main-green);
}

.Block{
    width:100%;
    padding-top: 10px;
    margin-top:20px;
}

.About{
    color: var(--main-white)
}

.Events{
    background-color:var(--main-green);
    color: var(--main-white);
}
.Square {
    display: flex;
    justify-content: space-between;
}
.Square_item{
    width: 100px;
    height:100px;
    background-color:var(--main-yellow);
}
.Buy{
    color: var(--main-white);
    background-color:var(--main-green);
}
.Buy_content {
    width: 30%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Buy_button{
    width:30%;
    height:100px;
    background-color:var(--main-yellow);
    color: #000000;
    display:flex;
    justify-content:center;
    align-items:center;
}


.Pictures{
    background-color:var(--main-yellow);
    display:flex;
    justify-content: space-between;
    text-align:center;
}

.Pictures > figure{
    max-width: 200px;
}

.ImageFigure{
    width: 40%;
}

figcaption > p{
    text-align:justify;
    font-size:15px;
}


.Archery_Pushkin {
    height: 135px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Static_gun {
    transform: rotate(45deg);
    background-image: url(../images/mini-gun6.png);
    background-repeat: no-repeat;
    flex: 1 1 100%;
    width: 155px;
    height: 103px;
}

.Dynamic_gun {
    background-image: url(../images/mini-gun3.png);
    flex: 0 0 0;
    background-repeat: no-repeat;
}

.Bullet {
    opacity: 1;
    background-image: url(../images/mini-gun5.png);
}

.Phrase1 {
    flex: 0 0 0;
    opacity: 0;
}

.Phrase2 {
    height: 0;
    opacity: 0;
}

.Archery_Pushkin:hover .Static_gun {
    transform: rotate(0deg);
    transition: transform 2s ease;
}

.Archery_Pushkin:hover .Phrase1 {
    opacity: 1;
    text-align: center;
    transition: opacity 1s ease;
}

.Archery_Pushkin:active .Static_gun {
    flex: 0 0 0;
}

.Archery_Pushkin:active .Phrase1 {
    opacity: 0;
    height: 0;
    transition: opacity 0s ease;
}

.Archery_Pushkin:active .Dynamic_gun {
    flex: 1 1 100%;
    width: 186px;
    height: 103px;
    animation: 3s ease-in-out trambling-animation;
}

.Archery_Pushkin:active + .Bullet {
    width: 45px;
    height: 37px;
    margin-bottom: 50px;
    opacity: 0;
    background-size: cover;
    transform: translateX(calc(50vw - 40px));
    transition: transform 2s linear, opacity 2.5s ease-out;
}

.Archery_Pushkin:active .Phrase2 {
    height: 20px;
    opacity: 1;
    text-align: center;
}
.Pushkin_port{
    width:150px;
    margin-left:auto;
    margin-right: 5%;
}
.Event_Push{
    display:flex;
    align-items:center;
}
.Archery_Pushkin:active + .Bullet + .Pushkin_port {
    transform: rotate(180deg);
    
    transition: transform 2s ease-out;
    transition-delay:2s;
}
.Block > h1{
    text-align:center;
}
@keyframes trambling-animation {
    80%, 90%, 100% {
        transform: translateY(0px);
    }

    82%, 86% {
        transform: translateY(5px);
    }

    84%, 88% {
        transform: translateY(-5px);
    }
}

.Dialog{
    background-color: var(--main-yellow);
}
.Dialog_content{
    padding-top: 15px;
    background-color: var(--main-yellow);
    font-size: 15px;
    width: 40%;
    min-width: 400px;
    border-left: var(--main-white) 3px solid;
    border-right: var(--main-white) 3px solid;
}

.Speech{
    background-color: #FFFFFF;
    padding: 10px;
    width: 50%;
    max-width: 250px;
    margin: 20px;
}

.Speech1{
    margin-left: auto;
    border-radius: 20px 20px 0 20px;
}
.Speech2{
    border-radius: 20px 20px 20px 0;
}


.Footer{
    width: calc(80% - 60px );
    padding: 30px;
    max-width: 1000px;
    text-align: center;
    margin: 30px auto auto;
    background-color: var(--main-yellow);
    color: var(--main-white);
}

@media(max-width: 1000px){
    .Pictures{
        flex-direction: column;
        align-items: center;
    }
    .ImageFigure{
        width: 30%;
    }
    .Navigation > ul{
        flex-wrap: wrap;
    }
}